version: "3.7"

services:
  greetings:
    container_name: greetings
    image: alderaan/greetings-camunda:${TAG:-latest}
    build:
      context: .
      dockerfile: src/api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "6543:80"     # app
      - "6643:3500"   # dapr http
      - "65430:50001" # dapr grpc

  greetings-dapr:
    container_name: greetings-dapr
    image: daprio/daprd:latest
    network_mode: "service:greetings"
    command: ["./daprd",
      "-app-id", "greetings-camunda",
      "-app-port", "80",
      "-dapr-http-port", "3500",
      "-dapr-grpc-port", "50001",
      "-placement-host-address", "greetings-dapr-placement:50006", 
      "-components-path", "/components"
      ]
    depends_on:
      - greetings
      - greetings-dapr-placement
    volumes:
      - "./dapr/components/:/components"
      - "./dapr/configuration/:/configuration"

  greetings-dapr-placement:
    container_name: greetings-dapr-placement
    image: daprio/placement:latest
    command: ["./placement", "-port", "50006"]
    ports:
      - "50006:50006"

networks:
  default:
    name: greetings-network